<%- include("header") -%>
<div class="aboutPage">
    <h2 class="aboutHeading">This is the About Page</h2>

    <p class="aboutText">This is Your Daily To Do for all your daily chores. I will not Forgot what you will say to me unless you have to complete your Tasks.</p>
    <h2 class="aboutHeading">Instructions</h2>
    <ul class="instructionList">
        <li>Hit the + button to add a new item.</li>
        <li>Hit the Reset button to reset your list.</li>
    </ul>
</div>

<%- include("footer") -%>
